<div class="card">
  <div class="card-body">
    <h5 class="card-title">
      <h1>Article ID: {{this.id}}</h1>
      <h3>Title:</h3> {{this.title}}
    </h5>
    <p class="card-text">
      <h3>Summary:</h3>{{this.summary}}
    </p>
    <div id="buttonContainer">
      <a href="{{this.link}}" id="cardBtn" class="btn btn-danger">Link</a>
      {{#unless saved}}
      <form id="submitForm" action="/save/{{this.id}}" method="post">
        <input id="cardBtn" class="btn btn-danger" type="submit" value="Save"></input>
      </form>
      {{/unless}}
      {{#if saved}}
      <form id="submitForm" action="/delete/{{this.id}}" method="post">
        <input id="cardBtn" class="btn btn-danger" type="submit" value="Delete"></input>
      </form>
      {{/if}}
    </div>
    {{#if saved}}
    {{> noteform/noteform-block}}
    <form id="submitForm" action="/clearnotes/{{this.id}}" method="post">
      <input id="cardBtn" class="btn btn-danger" type="submit" value="Clear Notes"></input>
    </form>
    <div class="container-fluid">
      <h2>Notes</h2>
      {{notes}}
      {{/if}}
    </div>
  </div>
</div>