<div class="card">
      {{> modal/modal-block}}
  <div class="card-body">
    <h5 class="card-title">
      <h3>Title:</h3> {{this.title}}
    </h5>
    <p class="card-text">
      <h3>Summary:</h3>{{this.summary}}
    </p>
    <div id="buttonContainer">
      <a href="{{this.link}}" id="cardBtn" class="btn btn-danger">Link</a>
      <form id="submitForm" action="/save/{{this.id}}" method="post">
      {{#unless saved}}
        <input id="cardBtn" class="btn btn-danger" type="submit" value="Save"></input>
      {{/unless}}
      {{#if saved}}
      <button id="cardBtn" name="modalBtn" type="button" class="btn btn-danger" data-toggle="modal"
        data-target=".bd-example-modal-lg">Add note</button>
      {{/if}}
      </form>
    </div>
    <div class="container-fluid">
      <h2>Notes</h2>
      {{notes}}
    </div>
  </div>
</div>